.App {
  text-align: center;
  font-family: "Montserrat", Arial, Helvetica, sans-serif ;
  /* background-image: url(./image/cool-background.png); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7C898B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tab {
  color: red;
  font-size: 50px;
}

#linktab, #hometab, #guesttab, #badtab {
  font-size: 30px;
}
/* <LinkTab to="/" label="Home" id="hometab" />
<LinkTab to="/guest-book" label="Guest Book" id="guesttab" />
<LinkTab to="/links" label="Links" id="linktab" />
<LinkTab to="/error404" label="Don't Click!" id="badtab" /> */

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
